* {
    font-family: 'Courier New', Courier, monospace;
}


body{
    background-color: aqua;
    
}

.container{
    background-color: antiquewhite;
    width:50%;
    text-align: center;
    padding: 1rem;
    display:flex;
    margin:0 auto;
    margin-bottom: 1rem;
    
}

.image-area{
    background-image: url("Straw.jpg");
    background-position: center center;
    background-size: cover;
    width: 100%;
    
}