* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

h1 {
    font-size: 8vmin;
}


body{
    background-color: aqua;
    
}

.container{
    background-color: antiquewhite;
    width:50%;
    text-align: center;
    padding: 2rem;
    display:flex;
    margin:0 auto;
    margin-bottom: 1rem;
    
}

.image-area{
    object-fit: contain;
    margin: 0 auto;
    width:50%;

}

